flows.json
[
    {
        "id": "a148e93f.71c548",
        "type": "tab",
        "label": "Bakeout",
        "disabled": true,
        "info": ""
    },
    {
        "id": "f7dae6bd.3a0418",
        "type": "tab",
        "label": "bake01",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4a8b6312.c2f36c",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyS0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "2199cfd8.9aa6b",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Bakeout",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 44,
                "sy": 44,
                "gx": 1,
                "gy": 1,
                "cx": 1,
                "cy": 1,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f66b31d0.8e554",
        "type": "ui_tab",
        "z": "",
        "name": "Bakeout",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "6a19989.bafc168",
        "type": "ui_group",
        "z": "",
        "name": "Manual Control",
        "tab": "f66b31d0.8e554",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "41476019.347f5",
        "type": "ui_group",
        "z": "",
        "name": "Settings",
        "tab": "2647618a.51f56e",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2647618a.51f56e",
        "type": "ui_tab",
        "z": "",
        "name": "Settings",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "ad4f30cc.06d7a",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "qoonet-ioc-05.local",
        "port": "1883",
        "clientid": "bake01",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "5801c7c.5f67038",
        "type": "rpi-gpio out",
        "z": "a148e93f.71c548",
        "name": "GPIO4",
        "pin": "7",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1210,
        "y": 500,
        "wires": []
    },
    {
        "id": "c42867e4.61fad8",
        "type": "serial in",
        "z": "a148e93f.71c548",
        "name": "Arduino",
        "serial": "4a8b6312.c2f36c",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "6cfcef2e.7837a"
            ]
        ]
    },
    {
        "id": "6cfcef2e.7837a",
        "type": "function",
        "z": "a148e93f.71c548",
        "name": "Read Temp",
        "func": "msg.topic = \"Temperature\"\nvar temperature = Number(msg.payload);\nnewMsg1 = {'topic':'Temperature', 'payload':temperature};\nif (flow.get('blankTemperature')) return null;\nreturn newMsg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 340,
        "wires": [
            [
                "4ae2a13c.0a8d4",
                "5af1247f.2411bc",
                "87423354.f1248"
            ]
        ]
    },
    {
        "id": "57303339.71261c",
        "type": "ui_switch",
        "z": "a148e93f.71c548",
        "name": "HeaterOn",
        "label": "Heater",
        "group": "6a19989.bafc168",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "HeaterOn",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 860,
        "y": 500,
        "wires": [
            [
                "35a74840.0d2948"
            ]
        ]
    },
    {
        "id": "4ae2a13c.0a8d4",
        "type": "ui_chart",
        "z": "a148e93f.71c548",
        "name": "",
        "group": "6a19989.bafc168",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 550,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "61279c78.ea4314",
        "type": "function",
        "z": "a148e93f.71c548",
        "name": "BlankPlot",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "4ae2a13c.0a8d4"
            ]
        ]
    },
    {
        "id": "5af1247f.2411bc",
        "type": "ui_gauge",
        "z": "a148e93f.71c548",
        "name": "",
        "group": "6a19989.bafc168",
        "order": 7,
        "width": "8",
        "height": "4",
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 550,
        "y": 340,
        "wires": []
    },
    {
        "id": "8a64247e.8a4b58",
        "type": "ui_switch",
        "z": "a148e93f.71c548",
        "name": "Regulate",
        "label": "Regulate",
        "group": "6a19989.bafc168",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "regulate",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 420,
        "y": 660,
        "wires": [
            [
                "87423354.f1248"
            ]
        ]
    },
    {
        "id": "a7d0de1f.f334d",
        "type": "ui_text_input",
        "z": "a148e93f.71c548",
        "name": "Regulate Temperature",
        "label": "Target",
        "group": "6a19989.bafc168",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "text",
        "delay": "300",
        "topic": "regulateTemp",
        "x": 380,
        "y": 520,
        "wires": [
            [
                "87423354.f1248"
            ]
        ]
    },
    {
        "id": "6f3c8b2b.9bdd44",
        "type": "ui_text_input",
        "z": "a148e93f.71c548",
        "name": "Regulate Window",
        "label": "Window",
        "group": "6a19989.bafc168",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "text",
        "delay": "300",
        "topic": "regulateWindow",
        "x": 390,
        "y": 580,
        "wires": [
            [
                "87423354.f1248"
            ]
        ]
    },
    {
        "id": "1f7cdbae.3a6c24",
        "type": "inject",
        "z": "a148e93f.71c548",
        "name": "",
        "topic": "regulateTemp",
        "payload": "20",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "a7d0de1f.f334d",
                "87423354.f1248"
            ]
        ]
    },
    {
        "id": "b7ec2c73.19b0d",
        "type": "inject",
        "z": "a148e93f.71c548",
        "name": "",
        "topic": "regulateWindow",
        "payload": "2",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 580,
        "wires": [
            [
                "6f3c8b2b.9bdd44",
                "87423354.f1248"
            ]
        ]
    },
    {
        "id": "87423354.f1248",
        "type": "function",
        "z": "a148e93f.71c548",
        "name": "Regulation Control",
        "func": "if (msg.topic == 'regulateTemp') context.set('regulateTemp', Number(msg.payload));\nif (msg.topic == 'regulateWindow') context.set('regulateWindow', Number(msg.payload));\nif (msg.topic == 'regulate')\n{\n    context.set('regulate', msg.payload);\n    if (!msg.payload)\n    {\n        var newMsg3 = {'topic':'HeaterOn', 'payload':0};\n        return [null, null, newMsg3];        \n    }\n}\nif (msg.topic != 'Temperature') return [null,null, null];\nvar regulateTemp =  context.get('regulateTemp');\nvar regulateWindow =  context.get('regulateWindow');\nvar regulate =  context.get('regulate');\nvar temperature = msg.payload;\nvar aboveWindow = false;\nif (temperature >  (regulateTemp + 0.5 * regulateWindow)) aboveWindow = true;\nvar belowWindow = false;\nif (temperature <  (regulateTemp - 0.5 * regulateWindow)) belowWindow = true;\nvar newMsg1 = {'topic':'aboveWindow', 'payload':aboveWindow};\nvar newMsg2 = {'topic':'belowWindow', 'payload':belowWindow};\nvar heaterOn = 0;\nvar newMsg3 = null;\nif (regulate)\n{\n    if (belowWindow) heaterOn = 1;\n    newMsg3 = {'topic':'HeaterOn', 'payload':heaterOn};\n}\nreturn [newMsg1, newMsg2, newMsg3];",
        "outputs": 3,
        "noerr": 0,
        "x": 650,
        "y": 420,
        "wires": [
            [
                "57c51b58.18d674"
            ],
            [
                "78f92015.c5902"
            ],
            [
                "57303339.71261c"
            ]
        ]
    },
    {
        "id": "6bfb8c81.9ea674",
        "type": "ui_template",
        "z": "a148e93f.71c548",
        "group": "6a19989.bafc168",
        "name": "Restart Plot",
        "order": 9,
        "width": "8",
        "height": "1",
        "format": "<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Restart Plot</md-button>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "61279c78.ea4314"
            ]
        ]
    },
    {
        "id": "57c51b58.18d674",
        "type": "ui_text",
        "z": "a148e93f.71c548",
        "group": "6a19989.bafc168",
        "order": 6,
        "width": "1",
        "height": "1",
        "name": "AboveWindow",
        "label": "",
        "format": "<font color={{(msg.payload == false) ? 'lime' : 'red'}} size=\"6\" ><i class=\"fa fa-circle\"></i></font>",
        "layout": "col-center",
        "x": 880,
        "y": 380,
        "wires": []
    },
    {
        "id": "78f92015.c5902",
        "type": "ui_text",
        "z": "a148e93f.71c548",
        "group": "6a19989.bafc168",
        "order": 3,
        "width": "1",
        "height": "1",
        "name": "BelowWindow",
        "label": "",
        "format": "<font color={{(msg.payload == false) ? 'lime' : 'red'}} size=\"6\" ><i class=\"fa fa-circle\"></i></font>",
        "layout": "col-center",
        "x": 880,
        "y": 440,
        "wires": []
    },
    {
        "id": "e160ff36.c7d3e",
        "type": "inject",
        "z": "a148e93f.71c548",
        "name": "",
        "topic": "regulate",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 120,
        "y": 660,
        "wires": [
            [
                "8a64247e.8a4b58",
                "87423354.f1248"
            ]
        ]
    },
    {
        "id": "35a74840.0d2948",
        "type": "function",
        "z": "a148e93f.71c548",
        "name": "Notify Heater",
        "func": "flow.set('HeaterOn', msg.payload);\nvar lastState = context.get('HeaterOn') || 0;\nvar blankMsg = null;\nif (lastState != msg.payload)\n{\n    blankMsg = {'topic':'blankTemperature', 'payload':true};\n    flow.set('blankTemperature', true);\n}\ncontext.set('HeaterOn', msg.payload);\nreturn [msg,blankMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 1030,
        "y": 500,
        "wires": [
            [
                "5801c7c.5f67038"
            ],
            [
                "7270a027.87f34"
            ]
        ]
    },
    {
        "id": "4a5c2995.764d78",
        "type": "inject",
        "z": "a148e93f.71c548",
        "name": "Init",
        "topic": "Init",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 90,
        "y": 740,
        "wires": [
            [
                "ca3ecb4a.55d668",
                "22b5c669.f6b98a"
            ]
        ]
    },
    {
        "id": "ca3ecb4a.55d668",
        "type": "function",
        "z": "a148e93f.71c548",
        "name": "Init",
        "func": "flow.set('blankTemperature', false);\nflow.set('sendingSettings', false);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "7270a027.87f34",
        "type": "delay",
        "z": "a148e93f.71c548",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 980,
        "y": 580,
        "wires": [
            [
                "7c6941be.dff56"
            ]
        ]
    },
    {
        "id": "7c6941be.dff56",
        "type": "function",
        "z": "a148e93f.71c548",
        "name": "Unblank Temp",
        "func": "flow.set('blankTemperature', false);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "22b5c669.f6b98a",
        "type": "function",
        "z": "a148e93f.71c548",
        "name": "Init Settings",
        "func": "var initSettings = \n{\n    'topic':'initSettings',\n    'payload':\n    {\n        'bandwidth':0.5,\n        'calFactor':1,\n        'offset':30\n    }\n};\nglobal.set('initSettings', initSettings);\nreturn initSettings;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 940,
        "wires": [
            [
                "bf07b9b2.a20c08",
                "585937da.4796c8"
            ]
        ]
    },
    {
        "id": "bf07b9b2.a20c08",
        "type": "delay",
        "z": "a148e93f.71c548",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 400,
        "y": 940,
        "wires": [
            [
                "484f0d8a.fa6674"
            ]
        ]
    },
    {
        "id": "484f0d8a.fa6674",
        "type": "function",
        "z": "a148e93f.71c548",
        "name": "Send Settings to Arduino",
        "func": "var initSettings = global.get('initSettings');\nvar bandwidth = \n{\n    'topic':'bandwidth',\n    'payload':'bandwidth ' + initSettings.payload.bandwidth.toString() + '!'\n}\nvar calFactor = \n{\n    'topic':'calFactor',\n    'payload':'calFactor ' + initSettings.payload.calFactor.toString() + '!'\n}\nvar offset = \n{\n    'topic':'offset',\n    'payload':'offset ' + initSettings.payload.offset.toString() + '!'\n}\n\nreturn [bandwidth,calFactor,offset];",
        "outputs": 3,
        "noerr": 0,
        "x": 610,
        "y": 940,
        "wires": [
            [
                "8ee32599.a560e8"
            ],
            [
                "22e560c3.cacfa"
            ],
            [
                "4e4c7e84.e2921"
            ]
        ]
    },
    {
        "id": "4e4c7e84.e2921",
        "type": "delay",
        "z": "a148e93f.71c548",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 890,
        "y": 980,
        "wires": [
            [
                "e9259cb0.3f7cb"
            ]
        ]
    },
    {
        "id": "22e560c3.cacfa",
        "type": "delay",
        "z": "a148e93f.71c548",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 890,
        "y": 940,
        "wires": [
            [
                "e9259cb0.3f7cb"
            ]
        ]
    },
    {
        "id": "8ee32599.a560e8",
        "type": "delay",
        "z": "a148e93f.71c548",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 890,
        "y": 900,
        "wires": [
            [
                "e9259cb0.3f7cb",
                "8b89a99f.500778"
            ]
        ]
    },
    {
        "id": "e9259cb0.3f7cb",
        "type": "serial out",
        "z": "a148e93f.71c548",
        "name": "Arduino",
        "serial": "4a8b6312.c2f36c",
        "x": 1080,
        "y": 940,
        "wires": []
    },
    {
        "id": "f22be21c.1b89b",
        "type": "inject",
        "z": "a148e93f.71c548",
        "name": "0.5 Hz",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "x": 700,
        "y": 1040,
        "wires": [
            [
                "38edb19b.ed955e"
            ]
        ]
    },
    {
        "id": "38edb19b.ed955e",
        "type": "function",
        "z": "a148e93f.71c548",
        "name": "Get Temperature",
        "func": "if (flow.get('sendingSettings')) return null;\nvar temp = \n{\n    'topic':'temp',\n    'payload':'temp!'\n}\nreturn temp;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 1040,
        "wires": [
            [
                "e9259cb0.3f7cb"
            ]
        ]
    },
    {
        "id": "e3449077.8b043",
        "type": "ui_text_input",
        "z": "a148e93f.71c548",
        "name": "Bandwidth",
        "label": "Bandwidth",
        "group": "41476019.347f5",
        "order": 1,
        "width": "6",
        "height": "2",
        "passthru": false,
        "mode": "text",
        "delay": "300",
        "topic": "bandwidth",
        "x": 670,
        "y": 1100,
        "wires": [
            [
                "da778374.8c5b4"
            ]
        ]
    },
    {
        "id": "456c4f19.fa6ec",
        "type": "ui_text_input",
        "z": "a148e93f.71c548",
        "name": "Temp Cal",
        "label": "Temp Cal",
        "group": "41476019.347f5",
        "order": 2,
        "width": "6",
        "height": "2",
        "passthru": false,
        "mode": "text",
        "delay": "300",
        "topic": "calFactor",
        "x": 660,
        "y": 1140,
        "wires": [
            [
                "da778374.8c5b4"
            ]
        ]
    },
    {
        "id": "1f0adb80.810385",
        "type": "ui_text_input",
        "z": "a148e93f.71c548",
        "name": "Temp Offset",
        "label": "Temp Offset",
        "group": "41476019.347f5",
        "order": 3,
        "width": "6",
        "height": "2",
        "passthru": false,
        "mode": "text",
        "delay": "300",
        "topic": "offset",
        "x": 670,
        "y": 1180,
        "wires": [
            [
                "da778374.8c5b4"
            ]
        ]
    },
    {
        "id": "da778374.8c5b4",
        "type": "function",
        "z": "a148e93f.71c548",
        "name": "Read New settings",
        "func": "var initSettings = global.get('initSettings');\ninitSettings.payload[msg.topic] = Number(msg.payload);\nglobal.set('initSettings',initSettings)\nreturn initSettings;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "585937da.4796c8",
        "type": "function",
        "z": "a148e93f.71c548",
        "name": "Parse Settings",
        "func": "var bandwidth = \n{\n    'topic':'bandwidth',\n    'payload':msg.payload.bandwidth\n}\nvar calFactor = \n{\n    'topic':'calFactor',\n    'payload':msg.payload.calFactor\n}\nvar offset = \n{\n    'topic':'offset',\n    'payload':msg.payload.offset\n}\nreturn [bandwidth, calFactor, offset];",
        "outputs": 3,
        "noerr": 0,
        "x": 460,
        "y": 1140,
        "wires": [
            [
                "e3449077.8b043"
            ],
            [
                "456c4f19.fa6ec"
            ],
            [
                "1f0adb80.810385"
            ]
        ]
    },
    {
        "id": "32f5853b.089aaa",
        "type": "function",
        "z": "a148e93f.71c548",
        "name": "Set sending flag true",
        "func": "flow.set('sendingSettings', true);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 860,
        "wires": [
            [
                "bf07b9b2.a20c08"
            ]
        ]
    },
    {
        "id": "8b89a99f.500778",
        "type": "delay",
        "z": "a148e93f.71c548",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1050,
        "y": 840,
        "wires": [
            [
                "d89ec036.e9bcc"
            ]
        ]
    },
    {
        "id": "d89ec036.e9bcc",
        "type": "function",
        "z": "a148e93f.71c548",
        "name": "Set sending flag false",
        "func": "flow.set('sendingSettings', false);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1240,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "61b25693.5ad338",
        "type": "ui_template",
        "z": "a148e93f.71c548",
        "group": "41476019.347f5",
        "name": "Set",
        "order": 4,
        "width": "6",
        "height": "1",
        "format": "<md-button \n    ng-style=\"{color:'black', background:'yellow'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Set</md-button>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 250,
        "y": 800,
        "wires": [
            [
                "32f5853b.089aaa"
            ]
        ]
    },
    {
        "id": "79fb9dbb.1d7b84",
        "type": "rpi-gpio out",
        "z": "f7dae6bd.3a0418",
        "name": "GPIO4",
        "pin": "7",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "68027591.f6dcec",
        "type": "serial in",
        "z": "f7dae6bd.3a0418",
        "name": "Arduino",
        "serial": "4a8b6312.c2f36c",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "fa59c418.635678"
            ]
        ]
    },
    {
        "id": "fa59c418.635678",
        "type": "function",
        "z": "f7dae6bd.3a0418",
        "name": "Read Temp",
        "func": "var temperature = Number(msg.payload);\nnewMsg1 = {'topic':'bake01/temperature', 'payload':temperature};\nif (flow.get('blankTemperature')) return null;\nreturn newMsg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "2457c57c.d5ffba",
                "3efb1d68.be9742"
            ]
        ]
    },
    {
        "id": "2457c57c.d5ffba",
        "type": "function",
        "z": "f7dae6bd.3a0418",
        "name": "Regulation Control",
        "func": "if (msg.topic == 'bake01/regulateTemp') context.set('regulateTemp', Number(msg.payload));\nif (msg.topic == 'bake01/regulateWindow') context.set('regulateWindow', Number(msg.payload));\nif (msg.topic == 'bake01/regulate')\n{\n    context.set('regulate', msg.payload);\n    if (!msg.payload)\n    {\n        var newMsg3 = {'topic':'bake01/HeaterStatus', 'payload':0};\n        return [null, null, newMsg3];        \n    }\n}\nif (msg.topic != 'bake01/temperature') return [null,null, null];\nvar regulateTemp =  context.get('regulateTemp');\nvar regulateWindow =  context.get('regulateWindow');\nvar regulate =  context.get('regulate');\nvar temperature = msg.payload;\nvar aboveWindow = false;\nif (temperature >  (regulateTemp + 0.5 * regulateWindow)) aboveWindow = true;\nvar belowWindow = false;\nif (temperature <  (regulateTemp - 0.5 * regulateWindow)) belowWindow = true;\nvar newMsg1 = {'topic':'bake01/aboveWindow', 'payload':aboveWindow};\nvar newMsg2 = {'topic':'bake01/belowWindow', 'payload':belowWindow};\nvar heaterOn = 0;\nvar newMsg3 = null;\nif (regulate)\n{\n    if (belowWindow) heaterOn = 1;\n    newMsg3 = {'topic':'bake01/HeaterStatus', 'payload':heaterOn};\n}\nreturn [newMsg1, newMsg2, newMsg3];",
        "outputs": 3,
        "noerr": 0,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "f1981a8b.9f3718"
            ],
            [
                "8412ba9b.712bb8"
            ],
            [
                "9b50574.dc18fa8"
            ]
        ]
    },
    {
        "id": "9b50574.dc18fa8",
        "type": "function",
        "z": "f7dae6bd.3a0418",
        "name": "Notify Heater",
        "func": "flow.set('HeaterOn', msg.payload);\nvar lastState = context.get('HeaterOn') || 0;\nvar blankMsg = null;\nif (lastState != msg.payload)\n{\n    blankMsg = {'topic':'blankTemperature', 'payload':true};\n    flow.set('blankTemperature', true);\n}\ncontext.set('HeaterOn', msg.payload);\nreturn [msg,blankMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 770,
        "y": 240,
        "wires": [
            [
                "79fb9dbb.1d7b84",
                "42dc8914.b54bc8"
            ],
            [
                "126ad8c4.588a97"
            ]
        ]
    },
    {
        "id": "126ad8c4.588a97",
        "type": "delay",
        "z": "f7dae6bd.3a0418",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 920,
        "y": 260,
        "wires": [
            [
                "2131fa65.778746"
            ]
        ]
    },
    {
        "id": "2131fa65.778746",
        "type": "function",
        "z": "f7dae6bd.3a0418",
        "name": "Unblank Temp",
        "func": "flow.set('blankTemperature', false);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a3d0b983.ff6268",
        "type": "serial out",
        "z": "f7dae6bd.3a0418",
        "name": "Arduino",
        "serial": "4a8b6312.c2f36c",
        "x": 480,
        "y": 560,
        "wires": []
    },
    {
        "id": "c4d2b2bc.1b148",
        "type": "inject",
        "z": "f7dae6bd.3a0418",
        "name": "0.5 Hz",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "x": 100,
        "y": 680,
        "wires": [
            [
                "20a9520a.0b0afe"
            ]
        ]
    },
    {
        "id": "20a9520a.0b0afe",
        "type": "function",
        "z": "f7dae6bd.3a0418",
        "name": "Get Temperature",
        "func": "if (flow.get('sendingSettings')) return null;\nvar temp = \n{\n    'topic':'temp',\n    'payload':'temp!'\n}\nreturn temp;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 680,
        "wires": [
            [
                "a3d0b983.ff6268"
            ]
        ]
    },
    {
        "id": "c311d18d.7d9c6",
        "type": "delay",
        "z": "f7dae6bd.3a0418",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 500,
        "wires": [
            [
                "f4729b58.723bd8"
            ]
        ]
    },
    {
        "id": "f4729b58.723bd8",
        "type": "function",
        "z": "f7dae6bd.3a0418",
        "name": "Set sending flag false",
        "func": "flow.set('sendingSettings', false);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "804c3696.fb7348",
        "type": "mqtt in",
        "z": "f7dae6bd.3a0418",
        "name": "",
        "topic": "bake01/regulateTemp",
        "qos": "0",
        "broker": "ad4f30cc.06d7a",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "db34d754.7b8878"
            ]
        ]
    },
    {
        "id": "3efb1d68.be9742",
        "type": "mqtt out",
        "z": "f7dae6bd.3a0418",
        "name": "bake01/temperature",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "ad4f30cc.06d7a",
        "x": 540,
        "y": 20,
        "wires": []
    },
    {
        "id": "d4f10c3a.092d2",
        "type": "mqtt in",
        "z": "f7dae6bd.3a0418",
        "name": "",
        "topic": "bake01/regulateWindow",
        "qos": "0",
        "broker": "ad4f30cc.06d7a",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "db34d754.7b8878"
            ]
        ]
    },
    {
        "id": "5c5a5c91.f580c4",
        "type": "mqtt in",
        "z": "f7dae6bd.3a0418",
        "name": "",
        "topic": "bake01/regulate",
        "qos": "0",
        "broker": "ad4f30cc.06d7a",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "db34d754.7b8878"
            ]
        ]
    },
    {
        "id": "f1981a8b.9f3718",
        "type": "mqtt out",
        "z": "f7dae6bd.3a0418",
        "name": "bake01/aboveWindow",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "ad4f30cc.06d7a",
        "x": 780,
        "y": 60,
        "wires": []
    },
    {
        "id": "8412ba9b.712bb8",
        "type": "mqtt out",
        "z": "f7dae6bd.3a0418",
        "name": "bake01/belowWindow",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "ad4f30cc.06d7a",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "fbbd1824.06cb58",
        "type": "mqtt in",
        "z": "f7dae6bd.3a0418",
        "name": "",
        "topic": "bake01/HeaterControl",
        "qos": "0",
        "broker": "ad4f30cc.06d7a",
        "x": 560,
        "y": 240,
        "wires": [
            [
                "9b50574.dc18fa8"
            ]
        ]
    },
    {
        "id": "94d46025.97f3d",
        "type": "mqtt in",
        "z": "f7dae6bd.3a0418",
        "name": "",
        "topic": "bake01/sendingSettings",
        "qos": "0",
        "broker": "ad4f30cc.06d7a",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "1f8959e8.1c7826"
            ]
        ]
    },
    {
        "id": "1f8959e8.1c7826",
        "type": "function",
        "z": "f7dae6bd.3a0418",
        "name": "Set sending flag true",
        "func": "flow.set('sendingSettings', true);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "8a407c84.d5945",
        "type": "mqtt in",
        "z": "f7dae6bd.3a0418",
        "name": "",
        "topic": "bake01/offset",
        "qos": "0",
        "broker": "ad4f30cc.06d7a",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "78dd7148.01363",
                "a3d0b983.ff6268"
            ]
        ]
    },
    {
        "id": "60c5d54b.5c40ac",
        "type": "mqtt in",
        "z": "f7dae6bd.3a0418",
        "name": "",
        "topic": "bake01/calFactor",
        "qos": "0",
        "broker": "ad4f30cc.06d7a",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "a3d0b983.ff6268"
            ]
        ]
    },
    {
        "id": "bcae3297.b98f",
        "type": "mqtt in",
        "z": "f7dae6bd.3a0418",
        "name": "",
        "topic": "bake01/bandwidth",
        "qos": "0",
        "broker": "ad4f30cc.06d7a",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "c311d18d.7d9c6",
                "a3d0b983.ff6268"
            ]
        ]
    },
    {
        "id": "db34d754.7b8878",
        "type": "json",
        "z": "f7dae6bd.3a0418",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "2457c57c.d5ffba"
            ]
        ]
    },
    {
        "id": "78dd7148.01363",
        "type": "debug",
        "z": "f7dae6bd.3a0418",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 500,
        "y": 660,
        "wires": []
    },
    {
        "id": "42dc8914.b54bc8",
        "type": "mqtt out",
        "z": "f7dae6bd.3a0418",
        "name": "",
        "topic": "bake01/HeaterStatus",
        "qos": "0",
        "retain": "",
        "broker": "ad4f30cc.06d7a",
        "x": 1000,
        "y": 220,
        "wires": []
    }
]